# -----------------------------------------------------------------------------
# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# Environment
NODE_ENV=development

# Ports (for Docker Compose)
SERVER_PORT=3001
CLIENT_PORT=3000

# URLs
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:3001

# Redis
REDIS_URL=redis://localhost:6379
