# -----------------------------------------------------------------------------
# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# Ports (for Docker Compose)
SERVER_PORT=3001
CLIENT_PORT=5173
